
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canvas Demo </title>
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
 
    <link href="jsonTree.css" rel="stylesheet" />
    <script src="jsonTree.js"></script>

</head>

<body>
    <div class="container-fluid">
 
        <div class="jumbotron">
            <h1 class="display-4"> Heroku Canvs Demo </h1>
            <p class="lead">
                <ul>
                    <li> Connected App needs OAuth Scope(s) </li>
                    <li> Profile must be pre-approved for OAuth Application </li> 
                </ul> 
            </p> 
        </div> 
     
        <p>
            <div id="reqCode" style="min-height:100px;">

            </div>
        </p>

    </div>  
    <script>
        let req = "<%= req %>";
        var decodedString = req.split('&#34;').join('"');
        var wrapper = document.getElementById("reqCode");
        try {
            var data = JSON.parse(decodedString);
        } catch (e) {}
        var tree = jsonTree.create(data, wrapper); 
    </script>
</body> 
</html>